<!DOCTYPE html>
<html> 
	<head>
		<title>DJ用集計・フィードバック画面</title>
		<link rel="stylesheet" href="/css/asw.css" type="text/css" charset="utf-8" />
		<script stype="text/javascript" src="/js/ccchart-min.js" charset="utf-8"></script>
		<script src="/js/dist/vis.js" charset="utf-8"></script>
		<link rel="stylesheet" href="/js/dist/vis.css" type="text/css" charset="utf-8"/>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script> var commonConfig = <%- JSON.stringify(config) %>;</script>
		<script stype="text/javascript" src="/js/djview.js" charset="utf-8"></script>
	</head>
	<body>
		<h1>DJ用集計・フィードバック画面</h1>

		<h2>入力指標サマリー</h2>
		<table id = "sumtable">
			<tr id="tr0">
				<th id="th0">id</th>
				<th id="th1">お名前</th>
				<th id="th2"><%= config.usermetric[0] %></th>
				<th id="th3"><%= config.usermetric[1] %></th>
				<th id="th4"><%= config.usermetric[2] %></th>
				<th id="th5">発話</th>
				<th id="th6">総発話時間</th>
				<th id="th7">ATTENTION</th>
				<th id="th8">MEDITATION</th>
			</tr>
			<% for(var tri=0; tri<5; tri++) { %>
			<tr id="tr<%= tri %>"></tr>
			<% for(var tdi=0; tdi<9; tdi++) { %>
			<td id="td<%= tri %><%= tdi %>">&nbsp;</td>
			<% } %>
			</tr>
			<% } %>
		</table>
		<h2>測定記録</h2>
		<p><a class="dj" id="startTimer">Start/Reset</a></p>
		<p><span id="time">00:00:00</span></p>
		<h3>脳波パネル</h3>
		<canvas id="mindwavePanel" width="300" height="300"></canvas>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h3>時系列プロット</h3>
		<canvas id="speakPanel" width="1000" height="200"></canvas>
		<p><a id="p1">1</a>&nbsp;<a id="p2">2</a>&nbsp;<a id="p3">3</a> </p>
		<h3>累積発話量比率</h3>
		<canvas id="totalSpeakChart"></canvas>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h3>会話ネットワーク</h3>
		<div id="speakNetwork"></div>
		<hr /> 
		<h2>フィードバック</h2>

		<p>誰に？</p>
		<% for(var ui=0; ui<5; ui++) { %>
		<a class="dj" id="userf<%= ui %>"><%= ui %>:</a>
		<% } %>
		<a class="dj" id="userf5">★:環境</a>

		<p>効果音</p>
		<% for(var si=0; si<config.feedback.sound.length; si++) { %>
		<a class="dj" id="soundf<%= si %>"><%= config.feedback.sound[si].name%></a>
		<% } %>

		<p>メッセージ</p>
		<% for(var mi=0; mi<config.feedback.message.length; mi++) { %>
		<a class="dj" id="messagef<%= mi %>"><%= config.feedback.message[mi].name%></a>
		<% } %>
		<br />
		<% for(var mli=0; mli<config.feedback.messageLevel.length; mli++) { %>
		<a style="visibility:hidden;" class="dj" id="messageLevelf<%= mli %>"><%= config.feedback.messageLevel[mli].name%></a>
		<% } %>

		<p>画像</p>
		<% for(var ii=0; ii<config.feedback.image.length; ii++) { %>
		<a class="dj" id="imagef<%= ii %>"><%= config.feedback.image[ii].name%></a>
		<% } %>

		<p>その他</p>
		<a class="dj" id="">1</a>
		<a class="dj" id="">2</a>
		<a class="dj" id="">3</a>
	</body>

</html>
